<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation name:</strong>
    <%= reservation.reservation_name %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= reservation.is_active %>
  </p>

</div>
