<div id="<%= dom_id table %>">
  <p>
    <strong>Table name:</strong>
    <%= table.table_name %>
  </p>

  <p>
    <strong>Seat number:</strong>
    <%= table.seat_number %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= table.is_available %>
  </p>

</div>
